<div class="carousel-container">
    <div class="carousel-header">
        <h1 class="section-title">Projects</h1>
        <div class="arrows">
            <button class="arrow prev" (click)="scrollCarousel(-1)">&#10094;</button>
            <button class="arrow next" (click)="scrollCarousel(1)">&#10095;</button>
        </div>
    </div>
    <div class="wrapper" #carouselWrapper>
        <div class="card" *ngFor="let card of cards">
            <!-- <div class="card-button-redirect">
                <button>&#10094;</button>
            </div> -->
            <div class="card-image">
                <img [src]="card.image" alt="">
            </div>
            <div class="card-description">
                <h2>{{card.title}}</h2>
                <span>{{card.description}}</span>
            </div>
        </div>
    </div>
</div>