<nav class="nav-bar" #nav>
  <button class="burger" onclick="this.classList.toggle('active')" (click)="toggle()">
    <!-- <span></span> -->
    <span></span>
    <span></span>
  </button>
  <div class="nav-title">
    <span class="initial">M</span>
    <h1 class="name">
       Mauro 
       <span>Molina</span>
    </h1>
  </div>
  <div class="nav-side_bar">
    <ul class="side-bar__list">
        <li class="side-bar__item" *ngFor="let item of items">
          <a #link href="#" (click)="onNavItemClick(item.path); $event.preventDefault()">
          {{item.name}}
        </a></li>
    </ul>
  </div>
</nav>
