<div class="wrapper">
  <h1 class="title">Specilizing In</h1>
  <!-- <p class="description">
    I make complex simple and simple amazing: frontend development, mobile apps
    and design that not only looks good, but works like a charm!
  </p> -->
  <div class="cards-wrapper">
    <div class="card" #chart>
      <div class="card-image image1"></div>
      <h1 class="card-title">Frontend Developer</h1>
      <p class="card-description">
        I transform ideas into interactive web experiences. With a focus on
        HTML, CSS, JavaScript and frameworks like Angular, React, Astro and
        Next.js I ensure that each page is functional, fast and visually
        appealing.
      </p>
    </div>
    <div class="card" #chart>
      <div class="card-image image2"></div>
      <h1 class="card-title">Mobile Developer</h1>
      <p class="card-description">
        I develop native and cross-platform mobile applications using
        technologies such as React Native, Flutter and Ionic. My goal is to
        create intuitive and high-performance apps for iOS and Android.
      </p>
    </div>
    <div class="card" #chart>
      <div class="card-image image3"></div>
      <h1 class="card-title">UI/UX Designer</h1>
      <p class="card-description">
        I create experience-focused user interfaces, using design principles to
        make apps not only aesthetically pleasing, but also easy to use. I work
        with tools like Figma, Sketch, and Adobe XD to design memorable
        experiences.
      </p>
    </div>
  </div>
</div>
