<div class="wrapper">
  <h1 class="title">Habilidades</h1>
  <!-- <p class="description">
    I make complex simple and simple amazing: frontend development, mobile apps
    and design that not only looks good, but works like a charm!
  </p> -->
  <div class="cards-wrapper">
    <div class="card" #chart *ngFor="let job of jobs">
      <img class="card-image" [src]="job.pathImage" [alt]="job.title">
      <h1 class="card-title">{{job.title}}</h1>
      <p class="card-description">{{job.description}}</p>
    </div>
  </div>
</div>
