.wrapper {
  width: 100%;
  height: max-content;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 30px 30px 0 0;
  // scroll-margin-top: -100px;
  padding-top: 60px;
  margin-top: 90px;
  position: relative;

  .title {
    position: absolute;
    top: -20px;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }

  .description {
    color: gray;
    text-align: center;
    max-width: 70%;
    text-align: justify;
    margin-block: 20px;
  }

  .cards-wrapper {
    width: 100%;
    height: auto;
    max-height: max-content;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    .card {
      width: 90%;
      height: auto;
      max-height: max-content;
      min-height: 350px;
      background: linear-gradient(#251e47, #2a2447);
      border-radius: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 25px;
      transform: translateY(50px);
      transition: all 1s ease;
      opacity: 0;
      padding: 14px;


      .card-image {
        width: 80px;
        height: auto;
        min-height: 80px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card-title {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        color: #d9d1ff;
        font-weight: 700;
        white-space: nowrap;
        flex-grow: 1;
      }

      .card-description {
        flex-grow: 1;
        max-width: 80%;
        color: rgb(203, 203, 203);
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .wrapper {
    height: 80vh;
    width: 80%;
    margin: 0 auto;

    .title {
      font-size: 2.4rem;
    }

    .description {
      max-width: 40%;
    }

    .cards-wrapper {
      max-width: 80%;
      gap: 20px;
      justify-content: center;
      flex-direction: row;
    }
  }
}

@media (min-width: 1280px) {
  .cards-wrapper {
    .card {
      width: 100%;
    }
  }
}
