<div class="contact">
    <h2 class="contact__title">Contáctame</h2>

    <div class="contact--inner">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="contact__form">
            <label class="contact__field">
                <span>Tu nombre</span>
                <span class="material-icons" aria-hidden="true">person</span>
                <input formControlName="from_name" type="text" placeholder="Ej: Juan Pérez" />
            </label>
            
            <label class="contact__field">
                <span>Correo electrónico</span>
                <span class="material-icons" aria-hidden="true">email</span>
                <input formControlName="from_email" type="email" placeholder="ejemplo@correo.com" />
            </label>
            
            <label class="contact__field">
                <span>Mensaje</span>
                <span class="material-icons" aria-hidden="true">comment</span>
                <textarea formControlName="message" rows="5" placeholder="Escribe tu mensaje..."></textarea>
            </label>

            <button type="submit" class="contact__button">
                <span *ngIf="!loading">Enviar mensaje</span>
                <div *ngIf="loading" class="loader"></div>
            </button>
        </form>

        <p *ngIf="success" class="contact__success">¡Gracias! Tu mensaje fue enviado con éxito.</p>
        <p *ngIf="error" class="contact__error">Ocurrió un error al enviar el mensaje. Intenta más tarde.</p>

    </div>
</div>