$light-gray: #f9f9f9;
$border-color: #dcdcdc;

.contact {
  padding: 2rem;
  border-radius: 1rem;
  max-width: 700px;
  margin: 2rem auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: $light-gray;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact__field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;

    span {
      font-weight: 500;
      color: $light-gray;
    }

    input,
    textarea {
      padding: 0.75rem 2.5rem;
      border: 1px solid $border-color;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.3s ease;
      background-color: #dadada;
      color: black;

      &::placeholder {
        color: #858585;
      }

      &:focus {
        outline: none;
      }
    }

    .material-icons {
      position: absolute;
      top: 50%;
      left: 8px;
      color: #858585;
    }

    &:last-of-type {
      .material-icons {
        top: 25%;
      }
    }
  }

  &__button {
    color: white;
    font-weight: 600;
    padding: 0.75rem;
    background-color: #8774e8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .loader {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid white;
      border-top: 2px solid #8774e8;
      animation: loader 1s ease infinite;
    }
  }

  &__success,
  &__error {
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;
    padding: 14px;
    animation: fadeIn 1s ease;
    transition: animation 1s ease;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
    border-radius: 10px;
  }

  &__success {
    background-color: rgb(173, 223, 173);
    border: 1px solid green;
    color: green;
  }

  &__error {
    background-color: rgb(223, 173, 173);
    color: red;
    border: 1px solid red;
  }

  @keyframes fadeIn {
    0% {
      top: -20px;
      opacity: 0;
      transform: translateY(-50px);
    }

    100% {
      top: 20px;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
