<div class="contact-wrapper">
    <div class="contact-information">
        <h1>Contact me</h1>
        <span class="message">Send an email, call or fill out the form to contact me so I can help you meet your goals.</span>
        <span class="email">molinamau37gmail.com</span>
        <span class="phone">3008236761</span>
    </div>
    <form action="" class="contact-form">
        <h1>Get in Touch</h1>
        <span>You can reach us anytime</span>
        <div class="name">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Lastname">
        </div>
        <div class="email">
            <input type="email" name="" id="" placeholder="Email">
        </div>
        <div class="message">
            <textarea name="" id="" placeholder="How can we help?"></textarea>
        </div>
        <div class="submit">
            <button type="submit">Send</button>
        </div>
    </form>
</div>