<div class="banner-wrapper">
  <div class="banner-profile">
  </div>
  <div class="banner-title">
    <span> Hello, welcome </span>
    <h1>I'm Mauricio an <span class="job"></span></h1>
    <p>
      I'm not a robot… but I am a machine when it comes to creating next-level
      UI/UX interfaces and frontend code..
    </p>
    <div class="item" *ngFor="let item of data">
      <h2>{{ item.title }}</h2>
      <span>{{ item.subtitle }}</span>
    </div>
  </div>
  <div class="points">
    <div class="point" *ngFor="let point of [].constructor(100)"></div>
  </div>
  <!-- <div class="banner-tech">
    <div class="tech-slider">
      <div class="tech-item">HTML5</div>
      <div class="tech-item">CSS3</div>
      <div class="tech-item">JavaScript</div>
      <div class="tech-item">Angular</div>
      <div class="tech-item">React</div>
      <div class="tech-item">Node.js</div>
      <div class="tech-item">SASS</div>
      <div class="tech-item">Git</div>
    </div>
  </div> -->
</div>