<div class="banner-wrapper" id="home">
  <div class="banner-profile">
  </div>
  <div class="banner-title">
    <span> Hola, Bienvenido </span>
    <h1>Soy Mauricio un <span class="job"></span></h1>
    <p>
      No soy un robot… pero soy una máquina cuando se trata de crear interfaces UI/UX y código frontend de alto nivel.
    </p>
    <div class="item" *ngFor="let item of data">
      <h2>{{ item.title }}</h2>
      <span>{{ item.subtitle }}</span>
    </div>
    <div class="buttons">
      <button class="button-call-action" (click)="start()">Empezar</button>
      <button class="button-call-action" (click)="downloadCVFile()">Descargar CV</button>
    </div>
  </div>
  <div class="points">
    <div class="point" *ngFor="let point of [].constructor(100)"></div>
  </div>
</div>