<div class="banner-wrapper" id="home">
  <div class="banner-profile">
  </div>
  <div class="banner-title">
    <span>{{ 'hero.welcome' | translate }}</span>
    <h1>{{ 'hero.greeting' | translate }} <span class="job" [class.is-hidden]="!jobVisible">{{ currentJob | translate }}</span></h1>
    <p>
      {{ 'hero.intro' | translate }}
    </p>
    <div class="item">
      @for (item of data; track item.title) {
        <h2>{{ item.title }}</h2>
        <span>{{ item.subtitle | translate }}</span>
      }
    </div>
    <div class="buttons">
      <a class="button-call-action" (click)="start()">{{ 'hero.start' | translate }}</a>
      <a download href="assets/CVMAURICIO.pdf" class="button-call-action">{{ 'hero.downloadCv' | translate }}</a>
    </div>
  </div>
  <!-- <div class="points">
    <div class="point" *ngFor="let point of [].constructor(100)"></div>
  </div> -->
</div>