*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body{
    overflow-x: hidden;
    background: radial-gradient(circle at 50% 30%, rgba(135, 116, 232, 1) 0%, rgba(0,0,0, 1) 80%, #000000 80%);
}