*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial;
}

body {
  overflow-x: hidden;
  background: radial-gradient(
    circle at 50% 30%,
    rgba(135, 116, 232, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    #000000 80%
  );
}

.active {
  color: rgba(135, 116, 232, 1);
}

.active-item {
  box-sizing: border-box !important;
  font-weight: 400 !important;
  background-color: white;
  color: rgba(135, 116, 232, 1) !important;
  padding: 10px;
  border-radius: 10px;
}

.parallax {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
