.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-block: 80px;
  padding-top: 90px;

  .grid {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
    padding: 10px;
    grid-template-areas:
      "c1 c1 c1 c1 c1 c1"
      "c1 c1 c1 c1 c1 c1"
      "c1 c1 c1 c1 c1 c1"
      "c2 c2 c2 c2 c2 c2"
      "c2 c2 c2 c2 c2 c2"
      "c2 c2 c2 c2 c2 c2"
      "c3 c3 c3 c3 c3 c3"
      "c3 c3 c3 c3 c3 c3"
      "c3 c3 c3 c3 c3 c3"
    ;

    .card {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: #8774e8;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 4px;
      color: white;
      padding: 10px;
      background-repeat: no-repeat;

      h2,
      span {
        max-width: 40%;
      }
      h2{
        font-size: 1.2rem;
      }

      span{
        font-size: .9rem;
      }
    }

    .card-1 {
      background-image: url(../../../../../public/assets/ux.png);
      grid-area: c1;
    }

    .card-2 {
      grid-area: c2;
      background-image: url(../../../../../public/assets/whyme.png);
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: end;

      h2,
      span {
        max-width: 40%;
      }
    }

    .card-3 {
      grid-area: c3;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: max-content;
      padding-block: 15px;

      h2,
      span {
        text-align: center;
        max-width: 80%;
      }

      .images {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;

        img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 10px;
          transition: all .5s ease;
          position: relative;
          background-color: white;
          clip-path: circle();

          &:hover {
            transform: translateY(-10px);
          }
        }
      }
    }


  }

  .title {
    font-size: 2.6rem;
    color: #3a2f70;
    max-width: 60%;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 1s ease;

    span {
      font-size: 6rem;
      color: #d9d1ff;
      font-weight: 800;
    }

    &.active {
      transform: translateX(0);
    }
  }
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;

    .title {
      transform: translateX(-50%);
      font-size: 4rem;

      span {
        font-size: 8rem;
      }
    }

    .grid {
      width: 70%;
      height: 80%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 10px;
      grid-template-areas:
        "c1 c1 c1 c2 c2 c2"
        "c1 c1 c1 c2 c2 c2"
        "c3 c3 c3 c3 c3 c3"
        "c3 c3 c3 c3 c3 c3"
      ;
      margin-right: 20px;

      .card {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: #8774e8;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 4px;
        color: white;
        padding: 10px;

        h2,
        span {
          max-width: 42%;
        }
      }

      .card-1 {
        background-image: url(../../../../../public/assets/ux.png);
        grid-area: c1;
      }

      .card-2 {
        grid-area: c2;
        background-image: url(../../../../../public/assets/whyme.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: end;

        h2,
        span {
          max-width: 40%;
        }
      }

      .card-3 {
        grid-area: c3;
        display: flex;
        flex-direction: column;
        align-items: center;


        h2,
        span {
          text-align: center;
          max-width: 40%;
        }

        .images {
          width: 75%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          flex-wrap: nowrap;

          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 10px;
            transition: all .5s ease;
            position: relative;

            &:hover {
              transform: translateY(-10px);
            }
          }
        }
      }


    }
  }
}